[submodule "third_party/videophy"]
	path = third_party/videophy
	url = https://github.com/Hritikbansal/videophy
[submodule "third_party/joyai_echo"]
	path = third_party/joyai_echo
	url = https://github.com/jd-opensource/JoyAI-Echo.git
[submodule "third_party/PhyMotion"]
	path = third_party/PhyMotion
	url = https://github.com/h6kplus/PhyMotion
[submodule "third_party/VMBench"]
	path = third_party/VMBench
	url = https://github.com/AMAP-ML/VMBench
[submodule "third_party/DynamicEval"]
	path = third_party/DynamicEval
	url = https://github.com/nithincbabu7/DynamicEval
[submodule "third_party/CausVid"]
	path = third_party/CausVid
	url = https://github.com/tianweiy/CausVid.git
[submodule "third_party/MAGI-1"]
	path = third_party/MAGI-1
	url = https://github.com/SandAI-org/MAGI-1.git
[submodule "third_party/vdn-minimax-h3"]
	path = third_party/vdn-minimax-h3
	url = https://github.com/OpenVDN/vdn-minimax-h3
